# Paddle billing
PADDLE_ENV=production
PADDLE_API_KEY=
PADDLE_CLIENT_TOKEN=
PADDLE_WEBHOOK_SECRET=
PADDLE_PRICE_BASIC_MONTHLY=pri_01m2ynemr2t4dnes8rz775p090
PADDLE_PRICE_BASIC_ANNUAL=pri_01m2ynemzv76wbb37zvr1q9fnb
PADDLE_PRICE_PRO_MONTHLY=pri_01m2ynen6sh5949wn1pnsr1s51
PADDLE_PRICE_PRO_ANNUAL=pri_01m2ynend8w7383t0nqzgd0f1z
